<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="Onboarding-breadcrumb-wrap">
                <h4 class="Onboarding-breadcrumb-main-tit">
                    Assess and Rank Investments
                    with Accurate Investable Scores
                </h4>

                <span class="tit-dot"></span>

                <h5 class="Onboarding-breadcrumb-para">Make informed decisions by evaluating risk and profitability effectively</h5>
            </div>
        </div>
    </div>
</div>