<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="Future-Price-Projection-FPP-img-wrap">
                <img src="./assets/src/images/Landing-page-Onboarding/ExecutionRisk/Execution-Risk.png"
                    alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="Future-Price-Projection-FPP-cont-wrap">
                <h5 class="Future-Price-Projection-FPP-sec-main-tit">
                    Execution Risk
                </h5>

                <p>The Execution Risk measures the default probabilities in the timely execution of the project. It
                    suggests whether the developer can complete the building as per the schedule or is likely to
                    default. </p>

                <p>The execution risk in a project is measured at the project level and the developer level.</p>

            </div>
        </div>
    </div>
</div>