<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="Future-Price-Projection-FPP-cont-wrap">
                <h5 class="Future-Price-Projection-FPP-sec-main-tit">
                    Future Price Projection (FPP)
                </h5>

                <p>The Investable score represents how good the property is for the investment. A higher score means
                    higher return probabilities in the project. </p>

                <p>It measures current price productivity, which means if it is fairly priced, under-priced, or an
                    overpriced property. And what are the property's prospects for growth and future price appreciation,
                    based on how the future infrastructure connectivity in the economy influences the property.</p>

                <p>It also measures the execution risk in the property that represents the probabilities of delay and
                    defaults in the timely delivery of the project based on developers' and projects' performance
                    ratings.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="Future-Price-Projection-FPP-img-wrap">
                <img src="./assets/src/images/Landing-page-Onboarding/Future-Price-Projection-FPP/Future-Price-Projection-sec-img.png" alt="">
            </div>
        </div>
    </div>
</div>

