<div class="container">
    <div class="row">
        <div class="col-md-12">
                 <div class="Investible-Score-hole-card-wrap">
                    <div class="Investible-Score-card-cont-wrap">
                        <div class="Investible-Score-card-img">
                            <img src="./assets/src/images/Landing-page-Onboarding/Investible-Score-card/Investible-Score-card-img.png"
                                alt="">
                        </div>
        
                        <div class="Investible-Score-card-cont">
        
                            <h5 class="Investible-Score-card-main-tit">
                                Investible Score
                            </h5>
                            <p class="xl-p"> The Investable score represents how good the property is for the investment. A higher score means
                                higher return probabilities in the project.</p>
        
                            <p class="xl-p">It measures current price productivity, which means if it is fairly priced, under-priced, or an
                                overpriced property. And what are the property's prospects for growth and future price
                                appreciation,
                                based on how the future infrastructure connectivity in the economy influences the property.</p>
        
                            <p class="xl-p">It also measures the execution risk in the property that represents the probabilities of delay
                                and
                                defaults in the timely delivery of the project based on developers' and projects' performance
                                ratings.</p>
                        </div>
        
                       
        
                    </div>
                    <div class="Investible-Score-inner-btm-card">
                        <span>How did we compute the  income and economic density index
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                 </div>

            
        </div>
    </div>
</div>